[submodule "cfn-secret-provider"]
	path = cfn-secret-provider
	url = https://github.com/binxio/cfn-secret-provider.git
[submodule "aws-cf-templates"]
	path = aws-cf-templates
	url = https://github.com/widdix/aws-cf-templates.git
[submodule "cfn-generic-custom-resource"]
	path = cfn-generic-custom-resource
	url = https://github.com/ab77/cfn-generic-custom-resource.git
[submodule "eb-python-flask"]
	path = eb-python-flask
	url = https://github.com/aws-samples/eb-python-flask
