diff --git a/.ebextensions/python.config b/.ebextensions/python.config
index e74278c..ce45984 100644
--- a/.ebextensions/python.config
+++ b/.ebextensions/python.config
@@ -1,6 +1,6 @@
 option_settings:
-  aws:elasticbeanstalk:container:python:staticfiles:
-    /static/: static/
+  aws:ec2:vpc:
+    AssociatePublicIpAddress: true
   aws:elasticbeanstalk:application:environment:
     FLASK_DEBUG: true
     APP_VERSION: v1.2.0
diff --git a/.ts b/.ts
new file mode 100644
index 0000000..7c80faf
--- /dev/null
+++ b/.ts
@@ -0,0 +1 @@
+1682179533
